/* Optional: Makes the sample page fill the window. */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/*element that contains the map. */
#map {
  height: 100%;
}

agm-map {
    height: 300px;
  }

  a {
    text-decoration: none;
}

 #goGoogleButton {
   text-align: right;
   margin-top: 15px;
 }