
<div style="text-align:center">
    <h1>{{ title }}</h1>
    <button (click)="onClick()" class="btn btn-primary">Click Me</button>
  </div>
<div class="container">
 
  <h1>Angular Google Maps with Places Search Example</h1>
 
  <!-- Search box -->
  <div class="form-group">
    <label>Enter address</label>
    <input type="text" class="form-control" (keydown.enter)="$event.preventDefault()" placeholder="Search Nearest Location" autocorrect="off" autocapitalize="off" spellcheck="off" type="text" #search>
  </div>
 
  <!-- Gooogle Map -->
  <agm-map id="map" [latitude]="latitude" [longitude]="longitude" [zoom]="zoom">
    <agm-marker [latitude]="latitude" [longitude]="longitude" [markerDraggable]="true"
      (dragEnd)="markerDragEnd($event)"></agm-marker>
  </agm-map>
  <div id="goGoogleButton"> 
    <button  mat-icon-button>
      <a href="https://www.google.com/maps"> Open on Google Maps</a>
    </button>
  </div>
 
  <h5>Address: {{address}}</h5>
  <!-- <div>Latitude: {{latitude}}</div>
  <div>Longitude: {{longitude}}</div> -->
</div>
<script> 
  function initMap() {
    var mapDiv = document.getElementById('map');

  
    // We add a DOM event here to show an alert if the DIV containing the
    // map is clicked.
    google.maps.event.addDomListener(mapDiv, 'click', function() {
      window.alert('Map was clicked!');
    });
  }
  </script>